{% extends 'stats.html.twig' %}
{% block pageTitle %}
    <h1>
        <i class="fa fa-fw fa-line-chart"></i>
        All Pages
    </h1>
{% endblock %}


{% block content %}

    {% set conf = config.plugins['page-stats'] %}
    {% include 'partials/messages.html.twig' %}
    <div class="container-fluid">
        <div class="row">

           {% include 'widgets/top-pages.html.twig' with {'title': 'All pages', 'hide_show_all': true, 'data': pageStats.db.pagesSummary(0) }  %}

        </div>
    </div>
{% endblock %}
