{% extends 'stats.html.twig' %}
{% block pageTitle %}
    <h1>
        <i class="fa fa-fw fa-line-chart"></i>
        Page Details:

        {{ grav.uri.query('page') }}
    </h1>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% set conf = config.plugins['page-stats'] %}
    {% set siteStats = pageStats.db.siteSummary(null,null, {'route' : grav.uri.query('page')}) %}

    {% include 'partials/messages.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% if conf.show_page_views_widget %}
                {% include 'widgets/page-views.html.twig' with {'data': siteStats.hits} %}
            {% endif %}

            {% if conf.show_unique_visitors_widget %}
                {% include 'widgets/unique-visitors.html.twig'with {'data': siteStats.visitors} %}
            {% endif %}

            {% if conf.show_unique_users_widget %}
                {% include 'widgets/unique-users.html.twig' with {'data': siteStats.users} %}
            {% endif %}

            {% if conf.show_top_users_widget %}
                {% include 'widgets/top-users.html.twig' with {'data': pageStats.db.topUsers(conf.limit_top_users_widget,null,null, {'route' : grav.uri.query('page')})} %}
            {% endif %}

            {% if conf.show_top_countries %}
                {% include 'widgets/top-countries.html.twig' with {'data': pageStats.db.topCountries(conf.limit_top_countries,null,null, {'route' : grav.uri.query('page')}) } %}
            {% endif %}

            {% if conf.show_top_browsers %}
                {% include 'widgets/top-browsers.html.twig' with {'data': pageStats.db.topBrowsers(conf.limit_top_browsers,null,null, {'route' : grav.uri.query('page')}) } %}
            {% endif %}

            {% if conf.show_top_platforms %}
                {% include 'widgets/top-platforms.html.twig' with {'data': pageStats.db.topPlatforms(conf.limit_top_platforms,null,null, {'route' : grav.uri.query('page')}) } %}
            {% endif %}

            {% if conf.show_pagedetails_recent_views %}
                {% include 'widgets/recently-viewed-pages.html.twig' with {'hide_page': true, 'data': pageStats.db.recentPagesByDay(0,null,null, {'route' : grav.uri.query('page')}) } %}
            {% endif %}
        </div>
    </div>

{% endblock %}
