{% extends 'stats.html.twig' %}
{% block pageTitle %}
    <h1>
        <i class="fa fa-fw fa-line-chart"></i>
        Top Users
    </h1>
{% endblock %}



{% block content %}
    {% include 'widgets/top-users.html.twig' with {'data': pageStats.db.topUsers(0), 'show_views': true, 'hide_show_all': true} %}
{% endblock %}
