<table class="table table-hover">
    <tr>
        <th>
            Country

        </th>
        <th>
            % share
        </th>
    </tr>
    {% for s in data %}
        <tr>
            <td>
                <img src="https://flagcdn.com/24x18/{{ s.country|lower }}.png">
                {{ s.country }}
            </td>
            <td>
                <span title="{{ s.hits }}">{{s.share}}
                    %</span>
            </td>
        </tr>
    {% endfor %}
</table>
