<div class="mb-5 {{ conf.cols_unique_visitors_widget }}">
    <h5>
        Unique Visitors

    </h5>
    <div style="width: w-100">
        <canvas id="chart_ips"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById("chart_ips").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar",
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
        data: {
            datasets: [
                {
                    label: 'Unique visitors',
                    data: [{% for s in data %}
                            {
                                x: "{{ s.date }}",
                                y: {{ s.hits }}
                            },{% endfor %}]
                }
            ]
        }
    });
</script>
